.mat-list-item {
    color       : white;
    /* font-size: 12px; */
}

.color-primary {
    background-color: #4C4C4C;
}

.active {
    border: 1px solid white;
}

.visited {
    border-bottom: 1px solid white;
}

mat-toolbar {
    font-size : 12px !important;
    color     : white !important;
    min-height: 86px;
    max-height: 86px;
    z-index: 2;
    position: sticky;
    top: 0;
}