<ngx-spinner
    bdColor="rgba(255,251,251,0.81)"
    size="medium"
    color="#130c94"
    type="ball-clip-rotate"
    [fullScreen]="false"
>
    <p style="color: white">Cargando...</p>
</ngx-spinner>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a
                mat-list-item
                [routerLink]="['empleos']"
                routerLinkActive="visited"
                *ngxPermissionsOnly="['candidato','invitado']"
            >
                Buscar empleo
            </a>
            <a
                mat-list-item
                [routerLink]="['curriculo']"
                routerLinkActive="visited"
                *ngxPermissionsOnly="['candidato']"
            >
                Currículo
            </a>
            <a
                mat-list-item
                [routerLink]="['admin/registrar-vacante']"
                routerLinkActive="visited"
                *ngxPermissionsOnly="['admin']"
            >
                Registrar empleo
            </a>
            <a
                mat-list-item
                [routerLink]="['admin/postulantes']"
                routerLinkActive="visited"
                *ngxPermissionsOnly="['admin']"
            >
                Postulantes
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header>
            <button
            fxShow.lt-md
            fxHide            
                mat-icon-button
                (click)="sidenav.toggle()"
            >
                <mat-icon>menu</mat-icon>
            </button>
        </app-header>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>
