<h2 mat-dialog-title>Debes iniciar sesión para continuar</h2>
<mat-dialog-content>
    
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1>ó</h1>
        <button
            mat-button
            [mat-dialog-close]="1"
            [routerLink]="[ '/cuenta/registro']"
        >
            Crear cuenta
        </button>
    </div>
    <!-- <app-login></app-login>
    <div fxLayoutAlign="center center">
    <button mat-button [mat-dialog-close]="1" [routerLink]="[ '/cuenta/registro']">Crear cuenta</button> -->
    <!-- </div> -->
</mat-dialog-content>

